<h1>Edite o evento</h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= link_to "Visualizar evento", @event, class: "btn btn-primary" %> |
  <%= link_to "Voltar para ínicio", events_path, class: "btn btn-primary" %>
</div>
